 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p align="justify">Jamie is an illustrator, game developer, and character designer currently residing in London. She is an avid gamer, animation junkie, and designer toy collector who loves acquiring new skills and hobbies. She finds immense fulfillment in a job well done and specializes in bridging the gap between creative and technical. She enjoys making cute things, but prides herself on having a diverse style and skillset. Capable of working on her own, she has run several of her own businesses, she is incredibly motivated, but thrives with the camarade and feedback of a close-knit team.</p>
                </div>
                <div class="col-lg-4">
                    <p align="center"><b>Skills</b></p><p align="center"><sup>out of five stars</sup></p><p align="center">Illustration <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p><p align="center">Character Design <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i></p><p align="center">Unity <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
                    <table style="width:100%">
                      <caption>out of five stars</caption>
                      <h4 align="center">Skills</h4>
                      <tr>
                        <td>Illustration</td>
                        <td> </td>
                        <td align="right"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></td>
                      </tr>
                      <tr>
                        <td>Character Design</td>
                        <td> </td>
                        <td>94</td>
                      </tr>
                      <tr>
                        <td>Unity</td>
                        <td> </td>
                        <td>80</td>
                      </tr>
                    </table>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/img/resumeSichel.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-file-text-o"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
